src/*.o*
lib/*.a*
.DS_Store
.vscode/*

scripts/input/*
scripts/output/*
scripts/*.o

test/*
test/two_point_mpi/*.txt
test/two_point_mpi/*.o
test/utility_test/*.o*
test/utility_test/.DS_Store

TWOPOINT
TWOPOINT_MPI

data/input/*
data/output/*

twofastpy*.pyc
